body {
    background-color: #f8f9fa;

}

.btn,
.form-control {
    margin-bottom: 15px;
}

.text {
    font-weight: 700;
    text-align: center;
}

.button {
    background-color: #f5f3f4;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    border: 0.1px solid black;
    display: inline-block;
    margin: 7px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    /* background-color: #caf0f8; */
    background-color: #ff99ac;
    box-shadow: 0 5px #6a6b70;
    transform: translateY(4px);
}

.button:active {
    /* background-color: #00b4d8; */
    background-color: #ff5c8a;
    box-shadow: 0 10px #666;
    transform: translateY(8px);
}

.coin:hover {
    background-color: #ffd60a;
    box-shadow: 0 3px #6a6b70;
    transform: translateY(4px);
}

.coin:active {
    background-color: #ffc300;
    box-shadow: 0 4px #666;
    transform: translateY(8px);
}

#makePurchase:hover {
    background-color: #25a244;
    box-shadow: 0 3px #6a6b70;
    transform: translateY(4px);
}

#makePurchase:active {
    background-color: #208b3a;
    box-shadow: 0 4px #666;
    transform: translateY(8px);
}

#returnChange:hover {
    background-color: #da1e37;
    box-shadow: 0 3px #6a6b70;
    transform: translateY(4px);
}

#returnChange:active {
    background-color: #c71f37;
    box-shadow: 0 4px #666;
    transform: translateY(8px);
}

.displayId {
    text-align: left;
}

h4 {
    text-align: center;
}